<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Presentacion.Properties.Settings.dbventasConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=dbventas;Persist Security Info=True;User ID=sa;Password=beisbol18"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>